* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: sans-serif;
}

.form-wizard-container {
  overflow: hidden;
  position: relative;
  padding: 15px;
}

.top-navigator-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.step-title {
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  flex: 1;
  position: relative;
  transition: color 0.2s;
  color: rgba(128, 128, 128, 0.377);
}

.step-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
  background-color: rgba(37, 92, 163, 0.719);
}

.current-step {
  color: rgba(37, 92, 163, 0.719);
}

.current-step::after {
  transform: scaleX(1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.wizard-step-panel-container {
  padding: 60px 0px 0px 0px;
  animation-duration: 0.5s;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 0 auto;
  gap: 50px;
  overflow-y: auto;
  height: 75vh;
}

.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.form-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox {
  display: flex;
  direction: row;

  align-items: center;
  justify-content: start;
  /* margin-left: 50px; */
  width: 100%;
  gap: 15px;
}

.form-label {
  display: block;
  font-weight: bold;

  text-transform: capitalize;
  white-space: nowrap;
}

.required {
  color: red;
  margin-left: 4px;
}

.form-input {
  padding: 16px 8px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

.form-input::placeholder {
  opacity: 0.5;
}

.form-input:focus {
  border-color: #66afe9;
  outline: none;
}

.error {
  color: red;
  text-transform: capitalize;
}

.required {
  color: red;
}

.bottom-navigator-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 25px;
  display: flex;
  direction: row;
  gap: 10px;
}

.next-button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.next-button:hover,
.back-button:hover,
.submit-button:hover {
  opacity: 0.9;
}
.next-button:disabled,
.submit-button:disabled {
  opacity: 0.5;
}

.next-button:focus,
.back-button:focus,
.submit-button:focus {
  outline: none;
}
