* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

#root {
  margin: 0 auto;
  padding: 2rem;
}

.form-wizard-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  height: 90dvh;
  border-radius: 8px;
}

.wizard-step-panel-container {
  padding: 25px;
  position: absolute;
  width: 100%;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.slide-in {
  animation-name: slide-in;
}

.slide-out {
  animation-name: slide-out;
}

@keyframes slide-in {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.top-navigator-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.bottom-navigator-container {
  position: absolute;
  bottom: 0;
  padding: 5px;
  display: flex;
  direction: row;
  gap: 10px;
}

.step-title {
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  flex: 1;
  position: relative;
  transition: color 0.2s;
  color: rgba(128, 128, 128, 0.377);
}

.step-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom left;
  background-color: rgba(128, 128, 128, 0.253);
}

.current-step {
  color: #000000;
}

.current-step::after {
  transform: scaleX(1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
